html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    width: 100%;
    height: 90%;
}

.brand-logo {
    padding-left: 20px !important;
}

table {
}

th, td {
    text-align: center !important;
}